<article class="campaign">
	<section class="campaign-head">
		<h2><%= link_to campaign.title, campaign_path(campaign) %></h2>
		<small>
			<time><%= campaign.created_at.to_date.strftime("%d %B, %Y")%>	</time>
			|

			<% if campaign.category.present? %>
			<%= link_to campaign.category.name,campaign.category%>
			<% end %>


			<% if user_signed_in? && (current_user.admin? || campaign.user == current_user) %>
			|

			<%= link_to t('common.edit'),edit_campaign_path(campaign), class: 'btn btn-outline-primary btn-sm'%>
			|

			<%= link_to t('common.delete'),campaign_path(campaign), method: :delete, data: {confirm:  t('common.quest_to_delete')},class: 'btn btn-outline-danger btn-sm'%>
			<% end %>
		</small>
	</section>

	<section class="campaign-summary">
		<%= campaign.summary %>
	</section>

	<section class="post-summary clearfix">
		<%= image_tag(campaign.image) if campaign.image.attached? %>
	</section>

	<section class="footer-summary">
		<%= raw campaign.tags.sort_by(&:name).map(&:name).map {|t| link_to t, tag_path(t), class: 'badge badge-primary'}.join(' ') %>
	</section>
</article>
