<article class="campaign">
	<section class="campaign-head">
		<h1><%= @campaign.title %></h1>
		<small>
			<time><%= @campaign.created_at.to_date.strftime("%d %B, %Y")%>	</time>

			<% if @campaign.category.present? %>
			<%= link_to @campaign.category.name,@campaign.category%>
			<% end %>

		</small>
	</section>

	<div class="container main", style="width:700px; height: auto">
		<%= image_tag(@campaign.image,style:'width:100%') if @campaign.image.attached?%>
	</div>

	<section class="campaign-body">
		<%= markdown(@campaign.body) %>
	</section>
</article>


<div class="comments">
	<% unless @campaign.comments.empty? %>
	<h2>Comments</h2>
	<div class="comments p-2">
		<%= render @campaign.comments %>
	</div>
	<% end %>
</div>
<% if user_signed_in? %>

<%= render 'comments/form' %>

<% end %>

